<!DOCTYPE html>
<html>
<head>
    <title>Participant Form</title>
</head>
<body>

<h2>Enter Participant Information</h2>

<form method="POST" action="{% url 'registration_step' participant.id %}" >
    {% csrf_token %}
    <label>Full Name:</label>
    <input type="text" name="full_name" required><br><br>

    <label>National ID:</label>
    <input type="text" name="national_id" required><br><br>

    <label>Relation:</label>
    <select name="relation">
        <option value="self">Self</option>
        <option value="spouse">Spouse</option>
        <option value="child">Child</option>
        <option value="guest">Guest</option>
    </select><br><br>

    <button type="submit">Proceed</button>

</form>

</body>
</html>
