{% load static %}
<html>
<head>
    <title>Register for Event</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Event Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ reg_form.as_p }}

        <h3>Participants</h3>
        <div id="participants-container">
            <div class="participant-item">
                {{ participant_form.as_p }}
                <button type="button" class="remove-participant">Remove</button>
            </div>
        </div>

        <button type="button" id="add-participant">Add Participant</button>
        <br><br>
        <button type="submit">Submit Registration</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#add-participant').click(function() {
                var newParticipant = $('.participant-item:first').clone();
                newParticipant.find('input').val('');
                newParticipant.find('select').val('');
                $('#participants-container').append(newParticipant);
            });

            $(document).on('click', '.remove-participant', function() {
                if($('.participant-item').length > 1){
                    $(this).closest('.participant-item').remove();
                }
            });

            // Before submitting, convert participant forms to JSON
            $('form').submit(function(e) {
                e.preventDefault();
                var participantData = [];
                $('.participant-item').each(function() {
                    var pdata = {
                        'full_name': $(this).find('input[name="full_name"]').val(),
                        'national_id': $(this).find('input[name="national_id"]').val(),
                        'relation': $(this).find('select[name="relation"]').val(),
                        'priority': $(this).find('select[name="priority"]').val()
                    };
                    participantData.push(JSON.stringify(pdata));
                });

                // Append hidden inputs for each participant
                for (var i=0; i<participantData.length; i++){
                    $('<input>').attr({
                        type: 'hidden',
                        name: 'participant_data',
                        value: participantData[i]
                    }).appendTo('form');
                }

                this.submit();
            });
        });
    </script>
</body>
</html>
