{% extends "_base.html" %}
{% load event_tags %}
{% load static %}

{% block title %}قدم {{1|persian_digits}} – نوع رویداد{% endblock %}

{% block content %}

{% include "_wizard_progress.html" %}

<form method="post" class="wizard-form">
    {% csrf_token %}

    {% if error %}
        <p style="color:red; text-align:center; margin:15px 0;">{{ error }}</p>
    {% endif %}

    <!-- ================= CREATE EVENT TYPE CARD ================= -->
    <div class="card mode-card active">
        <div class="card-header">
            <h3 class="card-title">ایجاد دسته‌بندی جدید</h3>
        </div>

        <div class="form-section">
            <label>عنوان دسته‌بندی</label>
            <input
                type="text"
                name="new_title"
                required
                placeholder="مثلاً: نام مهمانسرا،اقامتگاه،هتل   "
                value="{{ prefill.name|default:'' }}"
            >
        </div>
    </div>

    <!-- ================= ACTIONS ================= -->
    <div class="wizard-actions-left">
        <button type="submit" class="btn-next">
            بعدی
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </div>
</form>

{% endblock %}
